{% extends 'tender/index.html' %}

{% block content %}
{{ super() }}
{% for cat, msg in get_flashed_messages(True) %}
<p>{{ msg }}</p>
{% endfor %}
<div class="action">
    <form action="{{ url_for('.download_docs') }}" method="post">
        {{ doc_form.hidden_tag() }}
        {{ doc_form.doc_href() }}
        {{ doc_form.submit(class="custom-btn btn-10") }}
    </form>
</div>
<div class="information">
    <h2>
        Отправить документы отделу кадров
    </h2>
    {% if hr_info.Rating.document != None %}
    <p>Файл загружен</p>
    {% else %}
    <p>Файл не загружен</p>
    {% endif %}
    <form action="{{ url_for('.upload_doc') }}" method="post" enctype="multipart/form-data">
        {{ upload_form.hidden_tag() }}
        {{ upload_form.tender_id(value=tender.id, type="hidden") }}
        {{ upload_form.role(value="hr", type="hidden") }}
        <p>{{ upload_form.file()}}</p>
        <p>{{ upload_form.submit() }}</p>
    </form>
</div>
<div class="information">
    <h2>
        Отправить документы специалисту механизации
    </h2>
    {% if instruments_info.Rating.document != None %}
    <p>Файл загружен</p>
    {% else %}
    <p>Файл не загружен</p>
    {% endif %}
    <form action="{{ url_for('.upload_doc') }}" method="post" enctype="multipart/form-data">
        {{ upload_form.hidden_tag() }}
        {{ upload_form.tender_id(value=tender.id, type="hidden") }}
        {{ upload_form.role(value="instruments", type="hidden") }}
        <p> {{ upload_form.file()}}</p>
        <p>{{ upload_form.submit() }}</p>
    </form>
</div>
<div class="information">
    <h2>
        Отправить документы специалисту материального учета
    </h2>
    {% if materials_info.Rating.document != None %}
    <p>Файл загружен</p>
    {% else %}
    <p>Файл не загружен</p>
    {% endif %}
    <form action="{{ url_for('.upload_doc') }}" method="post" enctype="multipart/form-data">
        {{ upload_form.hidden_tag() }}
        {{ upload_form.tender_id(value=tender.id, type="hidden") }}
        {{ upload_form.role(value="materials", type="hidden") }}
        <p>{{ upload_form.file()}}</p>
        <p>{{ upload_form.submit() }}</p>
    </form>
</div>
{% endblock %}